.heading
{
    font-size: 30px;
    color:white;
    width: 100%;
    margin: 0pc;
    box-shadow:5px 5px 5px grey;
    background: rgb(55,123,124);
background: linear-gradient(295deg, rgba(55,123,124,1) 26%, rgba(45,209,253,1) 80%);
font-family: 'Fredericka the Great', cursive;
}

.note
{
    font-size: 15px;
    color: black;
}

.copy_right_footer
{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color:white;
    line-height: 3;
    text-align: center;
    font-size: 25px;
    font-family: 'Otomanopee One', sans-serif;
}

canvas
{
    border:5px solid black;
    box-shadow:5px 5px grey;
}
body
{
     background: rgb(2,0,36);
    background: linear-gradient(295deg, rgba(2,0,36,1) 5%, rgba(9,121,118,1) 32%, rgba(0,212,255,1) 82%);
}